@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --gradient-color-0: #fff;
    --gradient-color-1: #ffcc40;
    --gradient-color-2: #f5aa22;
    --gradient-color-3: #fa9011;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #000;
}

#greeting-1 h2::selection, 
#greeting-2 h2::selection, 
#greeting-3 h2::selection, 
#greeting-4 h2::selection, 
#greeting-5 h2::selection, 
#greeting-6 h2::selection, 
#greeting-7 h2::selection, 
#greeting-8 h2::selection, 
#greeting-9 h2::selection {
    color: white;
    background: black;
}

*::selection {
    color: black;
    background: var(--gradient-color-3);
}

body {
    font-family: 'IBM Plex Mono', cursive;;
}

#aero-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    padding-bottom: 10%;
}

#aero-logo {
    margin-left: 25%;
    height: 200px;
    background: none;
}

h1 {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 48px;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

#black-damper {
    position: absolute;
    width: 100%;
    height: 230%;
    background: black;
    z-index: 990;
}

#greeting-1, 
#greeting-2, 
#greeting-3, 
#greeting-4, 
#greeting-5, 
#greeting-6, 
#greeting-7, 
#greeting-8, 
#greeting-9 {
    position: absolute;
    width: 100%;
    height: 400%;
    background: black;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    
    display: none;
}

#greeting-1 {
    z-index: 999;
}

#greeting-2 {
    z-index: 998;
}

#greeting-3 {
    z-index: 997;
}

#greeting-4 {
    z-index: 996;
}

#greeting-5 {
    z-index: 995;
}

#greeting-6 {
    z-index: 994;
}

#greeting-7 {
    z-index: 993;
}

#greeting-8 {
    z-index: 992;
}

#greeting-9 {
    z-index: 991;
}

#greeting-1 h2, 
#greeting-2 h2, 
#greeting-3 h2, 
#greeting-4 h2, 
#greeting-6 h2, 
#greeting-5 h2, 
#greeting-8 h2, 
#greeting-7 h2, 
#greeting-9 h2 {
    width: 60%;
    margin-left: 20%;
    margin-top: 35%;
    position: fixed;
}

#video-top-mid {
    top: 0%;
    position: relative;
    width: 100%;
    height: 900px;
    transition: all 1000ms ease;
    filter: grayscale(1);
}

#video-top-mid:hover {
    transition: all 1000ms ease;
    filter: none;
}

.tournaments-section {
    margin-top: -125px;
    height: 400px;
    display: grid;
    justify-content: space-around;
    z-index: 100;
}

.changeover {
    position: relative;
    display: grid;
    grid-template-columns: 40% 17% 17% 26%;
    max-width: 80%;
    margin-left: -77%;
    margin-bottom: 100px;
    padding: 1rem;
    padding: 3px;
    transition: all 300ms ease-in-out;
    transform: translateX(100%);
    z-index: inherit;
}

.changeover input {
    appearance: none;
}

.changeover button {
    height: 50px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    pointer-events: all;
}

.changeover button label {
    color: white;
    transition: all 300ms ease-in-out;
    pointer-events: none;
}

.changeover button:hover label {
    background: #fa9011;
    transition: all 300ms ease-in-out;
}

.changeover input.selected + button {
    border-bottom: 2px solid #fa9011;
    transition: all 300ms ease-in-out;
}

.changeover button:hover {
    background: #fa9011;
    border-bottom: 2px solid #fa9011;
    color: white;
    transition: all 300ms ease-in-out;
}

.changeover input.selected + button label {
    color: white;
    transition: all 300ms ease-in-out;
}

.all-tournaments {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.tournament-1-wrapper,
.tournament-2-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 600px;
    transition: all 300ms ease-in-out;
    z-index: inherit;
    opacity: 0;
    transform: translateX(-100%);
}

.picture-top-left img,
.picture-top-right img,
.picture-top-2-left img,
.picture-top-2-right img {
    height: 500px;
}

.picture-top-left, 
.picture-top-right {
    z-index: 101;
}

.tournament {
    z-index: 100;
    margin: 0 50px 50px 50px;
    color: white;
    transform: translateY(25%);
    transition: all 300ms ease-in-out;
}

.tournament-name::selection,
.tournament-info::selection,
.tournament-dates::selection,
.tournament-number-of-teams::selection,
.tournament-prize-pool::selection,
.tournament br::selection,
.tournament span::selection {
    background: var(--gradient-color-1);
    color: black;
    transition: all 300ms ease-in-out;
}

.current-tournament-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    z-index: inherit;
    opacity: 0;
}

.c-t-s-wrapper {
    text-align: center;
    color: white;
    font-size: 14px;
    transition: all 300ms ease-in-out;
    transform: translateY(23%);
}

.current-tournament-name,
.tournament-name {
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
}

.current-tournament-details,
.tournament-details {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.tournament-details {
    color: var(--gradient-color-1)
}

p.current-tournament-dates {
    color: #ffcc40;
}

.current-tournament-info span {
    font-weight: bolder;
    background: -webkit-linear-gradient(var(--gradient-color-1), var(--gradient-color-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.current-tournament-info span::selection {
    background: -webkit-linear-gradient(var(--gradient-color-1), var(--gradient-color-3));
    color: black;
}

p.current-tournament-dates span {
    color: var(--gradient-color-1);
}

p.current-tournament-dates::selection,
p.current-tournament-dates br::selection,
p.current-tournament-dates span::selection {
    background: var(--gradient-color-1);
}

p.current-tournament-number-of-teams {
    color: var(--gradient-color-2);
}

p.current-tournament-number-of-teams span {
    color: var(--gradient-color-2);
}

p.current-tournament-number-of-teams::selection,
p.current-tournament-number-of-teams br::selection,
p.current-tournament-number-of-teams span::selection {
    background: var(--gradient-color-2);
}

p.current-tournament-prize-pool {
    color: var(--gradient-color-3);
}

p.current-tournament-prize-pool span {
    color: var(--gradient-color-3);
}

p.current-tournament-prize-pool::selection,
p.current-tournament-prize-pool br::selection,
p.current-tournament-prize-pool span::selection {
    background: var(--gradient-color-3);
}

.sign-up-form {
    margin-top: 70%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.sign-up-form img {
    height: 500px;
}

.picture-mid-left {
    margin-left: 35%;
}

.picture-mid-right {
    margin-left: 15%;
}

#add-user {
    padding: 1rem;
    padding: 3px;
    z-index: inherit;
    transition: translate 300ms ease-in-out;
    transform: translateY(15%);
}

#add-user-title {
    position: absolute;
    color: white;
    margin-top: -100px;
    margin-left: 50px;
    background: none;
}

#add-user-title span {
    font-size: 24px;
    margin-top: -5px;
    margin-left: 10px;
    position: absolute;
    transition: all 300ms ease;
}

form {
    padding: 0px 60px 60px 60px;
    max-width: 100%;
    display: grid;
    overflow: hidden;
    background: 222;
    color: white;
    border: 3px solid #fff;
    box-shadow: 0 0 1.5em #fff;
    transition: box-shadow 300ms ease;
    transition: border 300ms ease;
}

form:focus-within {
    border: 3px solid #ffcc40;
    box-shadow: 0 0 1.5em #ffcc40;
    transition: box-shadow 300ms ease;
    transition: border 300ms ease;
}

form div {
    position: relative;
    margin-top: 40px;   
    background: 222;
}

.add-user input {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    background: 222;
    cursor: text;
    color: white;
}

.add-user label {
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    pointer-events: none;
    border-bottom: 1px solid #666;
    background: white;
    color: white;
}

.add-user input + label::after {
    content: '';
    opacity: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%; 
    transform: translateX(0%);
    transition: all 300ms ease-in-out;
}

.add-user-input-label-1::after {
    border-bottom: 2px solid var(--gradient-color-1);
}

.add-user-input-label-2::after {
    border-bottom: 2px solid var(--gradient-color-1);
}

.add-user-input-label-3::after {
    border-bottom: 2px solid var(--gradient-color-1);
}

.add-user input:focus + label::after, 
.add-user input:valid + label::after {
    opacity: 1;
    transition: all 300ms ease-in-out;
    /*
    animation: animate-input-borders 0.5s infinite;
    */
}

#add-user-title span {
    color: #fa9011;
    margin-top: -10px;
    font-size: 32px;
    transform: translateX(0%);
    transition: transform 300ms ease;
}

#add-user:hover #add-user-title span {
    transform: translateX(50%);
    transition: transform 300ms ease;   
}

.input-text-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: all 300ms linear;
}

.add-user input:focus + label .input-text-wrapper, 
.add-user input:valid + label .input-text-wrapper {
    opacity: 0;
    transform: translateY(-160%);
    transition: all 300ms ease-in-out;
}

#add-user button {
    padding-top: 3px;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: #222;
    border: none;
    color: white;
    transition: background-color 300ms linear;
    transform: translateY(50%);
}

#add-user button:hover, 
#add-user button:focus-visible {
    background-color: #f5aa22;
    transition: background-color 300ms linear;
}

.about-aero-wrapper {
    margin-top: 5%; 
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 35% 33% 31%;
}

.about-aero-team {
    display: flex;
}

.aero-email span {
    margin: 0px 50px;
    color: white;
    font-size: 44px;
    transition: all 300ms ease;
}

.aero-email:hover span {
    color: var(--gradient-color-3);
    transition: all 300ms ease;
}

.aero-tg span {
    margin: 0px 50px;
    color: white;
    font-size: 48px;
    transition: all 300ms ease;
}

.aero-tg:hover span {
    color: var(--gradient-color-3);
    transition: all 300ms ease;
}

.aero-inst span {
    margin: 0px 50px;
    color: white;
    font-size: 50px;
    transition: all 300ms ease;
}

.aero-inst:hover span {
    color: var(--gradient-color-3);
    transition: all 300ms ease;
}

.changeover button .for-mobiles {
    display: none;
}

@media (max-width: 1024px) {

    .changeover {
        grid-template-columns: 34% 24.5% 24.5% 16%;
    }

    .tournament-1-wrapper,
    .tournament-2-wrapper {
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 500px;
    }

    .tournament {
        transform: translateY(5%);
    }

    .current-tournament-section {
        grid-template-columns: 35% 30% 35%;
    }

    .c-t-s-wrapper {
        transform: translateY(12%);
    }

    .picture-top-left img,
    .picture-top-right img,
    .picture-top-2-left img,
    .picture-top-2-right img {
        height: 400px;
    }

    .sign-up-form {
        grid-template-columns: 35% 30% 35%;
        margin-top: 80%;
    }

    .picture-mid-left img, 
    .picture-mid-right img {
        height: 400px;
    }

    .about-aero-wrapper {
        margin-top: 10%;
        grid-template-columns: 30% 40% 30%;
    }

    .about-aero-team i {
        font-size: 40px;
    }

}

@media (max-width: 768px) {

    .changeover {
        margin-top: 100px;
        grid-template-columns: 40% 22% 22% 16%;
    }

    .changeover button {
        width: 150px;
    }

    .tournament-1-wrapper,
    .tournament-2-wrapper {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .tournament {
        transform: translateY(5%);
    }

    .tournament-details {
        grid-template-columns: auto;
        text-align: center;
    }

    .tournament-dates {
        color: var(--gradient-color-1);
        padding-bottom: 10%;
    }

    .tournament-number-of-teams {
        color: var(--gradient-color-2);
        padding-bottom: 10%;
    }

    .tournament-prize-pool {
        color: var(--gradient-color-3);
        padding-bottom: 10%;
    }

    .current-tournament-section {
        grid-template-columns: 50% 40% 10%;
    }

    .c-t-s-wrapper {
        transform: translateY(12%);
    }

    .picture-top-left, 
    .picture-top-right {
        padding-top: 0%;
    }

    .picture-top-left img,
    .picture-top-right img{
        height: 400px;
    }

    .sign-up-form {
        grid-template-columns: 35% 36% 35%;
        margin-top: 140%;
    }

    .picture-mid-left, 
    .picture-mid-right {
        padding-top: 50%;
    }

    .picture-mid-left img, 
    .picture-mid-right img {
        height: 300px;
    }

    .picture-top-right,
    .all-tournaments .picture-top-2-left {
        display: none;
    }

    .picture-top-2-right img {
        height: 400px;
    }

    .about-aero-wrapper {
        margin-top: 10%;
        padding-bottom: 10%;
        grid-template-columns: 28% 50% 22%;
    }

    .about-aero-team i {
        font-size: 30px;
    }

}

@media (max-width: 425px) {

    #aero-header {
        display: grid;
        grid-template-columns: auto;
    }

    #aero-logo {
        margin-left: 0;
    }

    #aero-header h1 {
        margin-left: 20%;
    }

    .tournaments-section {
        height: 100px;
    }

    .changeover {
        position: static;
        top: 100px;
        left: 50%;
        grid-template-columns: 30% 30% 30% 10%;
        grid-template-rows: auto;
    }

    .changeover button {
        width: 100px;
    }

    .changeover button label {
        display: none;
    }

    .changeover button .for-mobiles {
        display: block;
    }

    .tournament-1-wrapper,
    .tournament-2-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .tournament {
        transform: translateY(5%);
    }

    .tournament-details {
        grid-template-columns: auto;
        text-align: center;
    }

    .tournament-dates {
        color: var(--gradient-color-1);
        padding-bottom: 10%;
    }

    .tournament-number-of-teams {
        color: var(--gradient-color-2);
        padding-bottom: 10%;
    }

    .tournament-prize-pool {
        color: var(--gradient-color-3);
        padding-bottom: 10%;
    }

    .current-tournament-section {
        margin-left: 10%;
        grid-template-columns: 80%;
    }

    .c-t-s-wrapper {
        transform: translateY(12%);
    }

    .picture-top-left, 
    .picture-top-right {
        padding-top: 0%;
    }

    .picture-top-left img,
    .picture-top-right img{
        height: 400px;
    }

    .sign-up-form {
        grid-template-columns: 90%;
        margin-top: 310%;
    }

    #add-user-title {
        margin-left: 105px;
    }

    #add-user {
        margin-left: 10%;
    }

    .picture-mid-left, 
    .picture-mid-right {
        display: none;
    }

    .picture-top-left,
    .picture-top-right,
    .picture-top-2-right,
    .picture-top-2-right {
        display: none;
    }

    .picture-top-2-right img {
        height: 400px;
    }

    .about-aero-wrapper {
        margin-top: 30%;
        padding-bottom: 15%;
        grid-template-columns: 10% 60% 30%;
    }

    .about-aero-team {
        margin-left: 41%;
        display: grid;
        grid-template-columns: auto;
    }

    .about-aero-team i {
        font-size: 30px;
    }

}

@media (max-width: 375px) {

    #add-user-title {
        margin-left: 85px;
    }

    .sign-up-form {
        margin-top: 350%;
    }

}

@media (max-width: 320px) {

    #aero-header {
        display: grid;
        grid-template-columns: auto;
    }

    #aero-logo {
        height: 150px;
        margin-left: 0;
    }

    #aero-header h1 {
        margin-left: 20%;
        font-size: 40px;
    }

    .changeover {
        position: static;
        top: 100px;
        left: 50%;
        grid-template-columns: 18% 40% 40% 2%;
        grid-template-rows: auto;
    }

    #add-user-title {
        margin-left: 65px;
    }

    .sign-up-form {
        margin-top: 450%;
    }

}